---
layout: post
---

<script>
function onbtnDecrypto() 
{
    var encryptedData = "{{ content }}";
    var keyword = document.getElementById("inputkey").value;

    if (keyword.replace(/(^\s*)|(\s*$)/g, "") == '') {
        alert("请输入密码！");
        return;
    }
    if(keyword===document.getElementById("weatherData").innerHTML)
    {
        document.getElementById("output").textContent  = encryptedData;
        document.getElementById("pwinput").style.display = "none";
        alert("密码正确");
        return;
    }
    else
    {
        alert("密码错误");
        return;
    }

}
</script>
<div id="pwinput">{{ page.tips | default: "请输入密码:" }}<br />
   <input id="inputkey" type="password" /> <button onclick="onbtnDecrypto()">解密</button>
</div>
<div id="output"></div><br/>
    